USE [master]
GO
/****** Object:  Database [BuffetDB]    Script Date: 01/10/2025 15:22:30 ******/
CREATE DATABASE [BuffetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BuffetDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BuffetDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BuffetDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BuffetDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BuffetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BuffetDB]
GO
/****** Object:  Table [dbo].[ItemsInOrder]    Script Date: 01/10/2025 15:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsInOrder](
	[item_in_order_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[type_of_bread] [nvarchar](30) NULL,
	[quantity] [nvarchar](10) NULL,
	[item_note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_in_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 01/10/2025 15:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_name] [nvarchar](150) NOT NULL,
	[item_description] [nvarchar](max) NULL,
	[is_available] [bit] NOT NULL,
	[item_type] [nvarchar](50) NOT NULL,
	[item_category] [nvarchar](50) NOT NULL,
	[is_special] [bit] NOT NULL,
	[photo_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 01/10/2025 15:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[order_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01/10/2025 15:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NULL,
	[access_level] [nvarchar](50) NOT NULL,
	[is_registered] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[cart_id] [int] NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ItemsInOrder] ON 

INSERT [dbo].[ItemsInOrder] ([item_in_order_id], [item_id], [order_id], [type_of_bread], [quantity], [item_note]) VALUES (294, 1005, 139, N'toast', N'one', N'--')
INSERT [dbo].[ItemsInOrder] ([item_in_order_id], [item_id], [order_id], [type_of_bread], [quantity], [item_note]) VALUES (295, 1023, 139, N'eish', N'one', N'--')
INSERT [dbo].[ItemsInOrder] ([item_in_order_id], [item_id], [order_id], [type_of_bread], [quantity], [item_note]) VALUES (296, 1006, 140, N'toast', N'one', N'null')
SET IDENTITY_INSERT [dbo].[ItemsInOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([item_id], [item_name], [item_description], [is_available], [item_type], [item_category], [is_special], [photo_url]) VALUES (1005, N'Fool', N'Traditional Egyptian fava beans dish', 0, N'normal', N'Breakfast', 0, N'1758230088503_egyptian_fool_.jpg')
INSERT [dbo].[MenuItems] ([item_id], [item_name], [item_description], [is_available], [item_type], [item_category], [is_special], [photo_url]) VALUES (1006, N'Falafel', N'Deep-fried patties made from ground chickpeas or fava beans', 1, N'normal', N'Breakfast', 0, N'falafel.png')
INSERT [dbo].[MenuItems] ([item_id], [item_name], [item_description], [is_available], [item_type], [item_category], [is_special], [photo_url]) VALUES (1007, N'Omelette', N'Plain omelette with eggs', 1, N'normal', N'Breakfast', 0, N'omelette.png')
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [order_status]) VALUES (139, 1023, CAST(N'2025-09-14T15:39:42.230' AS DateTime), N'completed')
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [order_status]) VALUES (140, 1023, CAST(N'2025-09-14T15:49:45.630' AS DateTime), N'completed')
INSERT [dbo].[Orders] ([order_id], [user_id], [order_date], [order_status]) VALUES (141, 1023, CAST(N'2025-09-14T16:01:06.060' AS DateTime), N'completed')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password_hash], [access_level], [is_registered], [is_active], [cart_id], [first_name], [last_name]) VALUES (1, N'mahmoud@gmail.com', N'$2a$10$jAxncq6.vwnUA7mdhp2t/u.WRG6RvWzP03fN4uVZopJmGonUntE56', N'chef', 1, 1, -1, N'Mahmoud', NULL)
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [access_level], [is_registered], [is_active], [cart_id], [first_name], [last_name]) VALUES (1023, N'omar@gmail.com', N'$2a$10$5maf1YrxNrEOSsgZdyBWNOB4LYq1qnFLyMwEREwlc8ycJ8KO0B8dy', N'employee', 1, 1, 163, N'omar', N'yehia')
INSERT [dbo].[Users] ([user_id], [username], [password_hash], [access_level], [is_registered], [is_active], [cart_id], [first_name], [last_name]) VALUES (1024, N'moustafa@gmail.com', NULL, N'employee', 0, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC572DD24B352]    Script Date: 01/10/2025 15:22:31 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Users_Cart_NotNull]    Script Date: 01/10/2025 15:22:31 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Users_Cart_NotNull] ON [dbo].[Users]
(
	[cart_id] ASC
)
WHERE ([cart_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ItemsInOrder] ADD  DEFAULT (NULL) FOR [type_of_bread]
GO
ALTER TABLE [dbo].[ItemsInOrder] ADD  DEFAULT (NULL) FOR [quantity]
GO
ALTER TABLE [dbo].[ItemsInOrder] ADD  DEFAULT (NULL) FOR [item_note]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[MenuItems] ADD  DEFAULT ((0)) FOR [is_special]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (NULL) FOR [order_date]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('cart') FOR [order_status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [password_hash]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [is_registered]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (NULL) FOR [cart_id]
GO
ALTER TABLE [dbo].[ItemsInOrder]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[MenuItems] ([item_id])
GO
ALTER TABLE [dbo].[ItemsInOrder]  WITH CHECK ADD  CONSTRAINT [FK_itemsInOrder_Orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemsInOrder] CHECK CONSTRAINT [FK_itemsInOrder_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
USE [master]
GO
